body {
	margin: 0 0 0 0;
	font-family:junction_regularregular;
	color:#0F8A5F;
	margin-bottom: 500px;
	background-color:#0F8A5F;
}

header {
	background-color:#CC231E;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;

}

header h1 {
	margin-top:0px;
	padding: 15px;
	color:#FFF5EE;
	font-size:50px;
}

h1 {
	color: #CC231E;
}

div.main {
	margin-left:10%;
	margin-right:10%;
	position:relative;
}

div.bordered {
	
	width: 40%;
	padding: 25px;
	background-color:#FFF5EE;

}

div#participant-input {
	position: absolute;
	top:0;
	left:0;
}

div#pairings-output {
	position:absolute;
	top:0;
	right:0;
}

.main h1 {
	margin: 0;

}

.buttons {
	padding: 10px;
	margin: 2px;
	border: 1px solid #CC231E;
	background-color: #CC231E;
	color:#FFF5EE;
}

#participants p {
	margin-top:30px;
	margin-bottom: 30px;
}

#participants label {

	padding-right:10px;

}

#participants a {
	margin-left:10px;
	padding-top: 2px;
	padding-bottom:2px;
	padding-left:8px;
	padding-right:8px;
	background-color:#0F8A5F;
	height:2px;
	color:#FFF5EE;
}

#participants input {
	border: 1px solid #0F8A5F;
	padding: 10px;
	font-family:junction_regularregular;;
	color:#0F8A5F;
	background-color:#FFF5EE;
	width:75%;
}

#participants input:focus {
	outline: 1px solid #0F8A5F;
}

#participants {
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:50px;
}

a {
	cursor:pointer;
}

header a {
	color:white;
	text-decoration:none;
}

header p {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 6px;
	font-weight: bold;
	text-align:right;
}

@font-face {
    font-family: 'junction_regularregular';
    src: url('fonts/Junction-webfont.eot');
    src: url('fonts/Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Junction-webfont.woff') format('woff'),
         url('fonts/Junction-webfont.ttf') format('truetype'),
         url('fonts/Junction-webfont.svg#junction_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

hr {
	border:0px;
	height:1px;
	background-color:#0F8A5F;
}

#addmore {
	position:absolute;
	bottom:0;
	left:0;
	margin-bottom:25px;
	margin-left:25px;
}

#pair {
	position:absolute;
	bottom:0;
	right:0;
	margin-bottom:25px;
	margin-right:25px;
}






